.icon-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
}

.icon-file {
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
}

.icon-file:hover {
  transform: scale(1.1);
}