.icon-container {
    display: flex;
    justify-content: space-between;
    width: 60%; /* O el ancho que necesites */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.icon-file {
    width: 200px;
    height: 200px;
    padding: 80px;
}
