.ventas-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  width: 48%; /* Ajusta este valor según necesites */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-size: 16px;
}

input{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-size: 16px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.btn-agregar {
  background-color: #FF6E31;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Ajusta según necesites */
  margin: 20px auto 0;
}

.btn-agregar img {
  width: 20px; /* Ajusta el tamaño del icono */
  height: 20px;
  margin-right: 10px;
}

.btn-agregar:hover {
  background-color: #e85a1f;
}

.headerTitle {
  background: linear-gradient(
    to right, 
    white, 
    #FF6E31 10%, 
    #FF6E31 90%, 
    white
  );
  padding: 1px;
  text-align: center; /* Para centrar el texto */
  margin-bottom: 30px;
}

.headerTitle h2 {
  margin: 10px 0; /* Ajusta según necesites para el espaciado vertical */
  color: white; /* Para asegurar que el texto sea legible */
}


textarea {
    width: 100%;        /* Ancho total del contenedor padre */
    height: 200px;      /* Altura de 200px */
    padding: 10px;      /* Espaciado interno */
    margin: 10px 0;     /* Espaciado externo */
    background-color: #f0f0f0;  /* Color de fondo */
    color: #333;                 /* Color del texto */
    font-size: 16px;             /* Tamaño de la fuente */
    font-family: Arial, sans-serif; /* Tipografía */
    line-height: 1.5;            /* Altura de línea */
    resize: vertical;
}

.textarea {
  width: 98%;  /* Ancho completo */
}
