

.total-row{
  background-color: var(--color-primary);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subtotal-row , .descuento-row{
  background-color: var(--color-primary);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;

}

.total-label, .subtotal-label ,.descuento-label{
  font-weight: bold;
  font-size: 1.1em;
}

.total-amount,.subtotal-amount, .descuento-amount {
  font-weight: bold;
  font-size: 1.2em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contenedorDevolucion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.devolucionImg {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
