/* Ventas.css */
.headerTitle {
  background: linear-gradient(
    to right, 
    white, 
    var(--color-primary) 10%, 
    var(--color-primary) 90%, 
    white
  );
  padding: 1px;
  text-align: center;
  margin-bottom: 30px;
}

.total-row {
  background-color: var(--color-primary);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.total-label {
  font-weight: bold;
  font-size: 1.1em;
}

.total-amount {
  font-weight: bold;
  font-size: 1.2em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contenedorDevolucion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.devolucionImg {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/* Los demás estilos se moverán a general.css */